body{

    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(245, 240, 235);
    height: 100%;
    width: 100%;
}

header{
    
    padding: 0;
    margin: 0;
    border: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(138, 173, 173);

}

main{

    padding: 0;
    margin: 0;
    border: 0;
    height: 90vh;
    width: 100%;

}

footer{
    
    padding: 0;
    margin: 0;
    border: 0;
    height: 5%;
    width: 100%;

}

h2{

    color: white;
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

.flex-container{

    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

div{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
}

.botao{

    height: 300px;
    width: 300px;
    color: white;
    text-shadow: 4px 4px 4px black;
}

.img{

    height: 300px;
    width: 300px;
    border-radius: 7px;
    background-color: white; 
    box-shadow: 7px 7px 7px rgb(82, 81, 81);
    
}

.card{

    display: flex;
    align-items: safe center;
    justify-content:space-evenly;
    padding: 0;
    margin: 10px 0px 0px 0px;
    border: 0;
    height: 90%;
    width: 100%;

}

h4{
    height: 46px;
    width: 120px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 16;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    color: #FFFFFF;

}

button{

    width: 150px;
    height: 40px;
    background: #C7EF00;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}

button:hover{

    width: 150px;
    height: 40px;
    background: #727c40;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
